html, body{
    height: 100%;
    font-size: medium;
    background-color: rgb(233, 233, 233);
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: darkgreen;
    
}

#cover{
    background: #222 url('img/man_woman_dog_big.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}


.bg-description{
    background-color: #343a40;
    color: white;
    opacity: 0.9;
    padding: 2rem;
    -webkit-box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
}

.bg-light{
    opacity: 0.9;
    padding: 0.8rem;
    -webkit-box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
}

.text-primary{
    color: darkgreen !important;
}

h3{
    color: #52361b;
}

h2{
    background-color: rgba(151, 196, 74, 0.3);
    color: #52361b;
    padding-top: 5px;
    margin-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-radius: inherit;
}

hr{
    margin: 0 auto;
    padding: 0;
    border-color: #52361b;
    width: 98%;
    
}

img{
    width: 100%;
    height: 100%;
}

.bg-dark{
    background-color: darkgreen !important;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(216, 226, 190);
    border-right: rgb(0, 85, 0) 1px dotted !important;
    border-left: rgb(0, 85, 0) 1px dotted !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.9);
}

.navbar-user{
    color: rgb(221, 221, 221);
    text-align: center;
    max-width: 125px;
    margin-right: 0;
}

article{
    padding-top: 60px;
    margin: 0;
    position: relative;
    z-index: 1;
    min-height: 92%;
}

article .bg {
    position: absolute;
    z-index: -1;
    top: 50px;
    background: url(img/man_woman_dog_big.jpg) center center;
    filter: brightness(50%);
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

legend{
    font-size: 1.4rem;
}

.btn-reset{
    background-color:  #52361b;
    opacity: 0.7;
    color: white;
}

.btn-reset:hover{
    opacity: 0.8;
}

.bg-form{
    background-color: rgb(215, 215, 215);
    border: #52361b 1px solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px -5px rgba(204,204,204,0.9);
}

textarea{
    resize: none;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9) !important;
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9) !important;
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9) !important;
	border: 1px solid #a5cda5 !important;
	background-color: #e9f3e9 !important;
	color: #428c42 !important;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

/* Checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: darkgreen; 
    background-image: url(xmlns='img/circle-svg.jpg');
    border-radius: 30%;
}

/* active state, pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: rgb(131, 182, 131);
}
    
.card{
    background-color: rgb(215, 215, 215);
}